
section.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    padding: 0;
    overflow: hidden;
    border-radius: 20px;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    height: auto;
    position: relative;
    transition: 1.5s;
}

.slide img {
    width: 800px;
    opacity: 0.5;
    transition: opacity 0.5s;
}

.slide img:hover {
    opacity: 1;
}

.nav-manual, .nav-auto {
    position: absolute;
    width: 800px;
    margin-top: 32%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div {
    border: 1px solid #f3f3f3;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: #FFFFFF;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

#radio5:checked ~ .first {
    margin-left: -100%;
}

#radio6:checked ~ .first {
    margin-left: -125%;
}

#radio1:checked ~ .nav-auto .auto-btn1 {
    background-color: #FFFFFF;
}

#radio2:checked ~ .nav-auto .auto-btn2 {
    background-color: #FFFFFF;
}

#radio3:checked ~ .nav-auto .auto-btn3 {
    background-color: #FFFFFF;
}

#radio4:checked ~ .nav-auto .auto-btn4 {
    background-color: #FFFFFF;
}

#radio5:checked ~ .nav-auto .auto-btn5 {
    background-color: #FFFFFF;
}

#radio6:checked ~ .nav-auto .auto-btn6 {
    background-color: #FFFFFF;
}