*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: #f3f3f3;
    height: 100%;
}

.interface {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.flex {
    display: flex;
}

header {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  z-index: 1000;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}

.container {
    background-color: #f3f3f3;
    height: 110px;
}

.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .link {
    color: #1c1663;
    text-decoration: none;
    font-size: 18px;
    margin: 15px;
    display: inline-block;
    padding-right: 15px;
}

header .link:hover {
    color: #013eda;
    transform: scale(1.05);
    transition: .2s;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding-left: 380px;
    
}

header .main-button button {
    padding: 10px 40px;
    font-size: 15px;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
    background-color: #b40409;
    border: none;
    height: 50px;
    text-align: center;
    color: #fff;
}

img {
    width: 150px;
    cursor: default;
}

@keyframes animation {
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.05);
    }
}

header .main-button button:hover {
    animation-name: animation;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: 0px 0px 8px #ff000859;
}

section.main-content {
    padding: 50px 5%;
}

section.main-content .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.main-content h1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;  
    color: #1c1663;
    margin-bottom: 20px;
    margin-top: 80px;
}

.main-button2 {
    height: 40px;
    width: 150px;
    background: #b40409;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
}

.main-button2:hover {
    animation-name: animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: 0px 0px 8px #ff000859;
}

.main-content p {
    color: #1c1663;
    font-size: 22px;
    line-height: 20px;
}

    
 .prof {
    width: 550px;
    margin-top: 50px ;
}

.idiomas {
    margin-top: 80px;
}

section.english-kids {
    padding: 40px 4%;
}

section.english-kids .flex {
    align-items: center;
    gap: 60px;
}

.kid {
    width: 550px;
}

.english-kids .text-kids {
    color: #fff;
}
